In [1]:
import pandas as pd

In [2]:
input_variants_file = '/oak/stanford/groups/akundaje/projects/neuro-variants/variant_lists/excitatory_neurons_dev.dataset.txt'
rare_variants_file = '/oak/stanford/groups/akundaje/projects/neuro-variants/variant_lists/neuro.rare.variants.1kg.lt_0.001.tsv'
common_variants_file = '/oak/stanford/groups/akundaje/projects/neuro-variants/variant_lists/neuro.common.variants.1kg.gt_0.05.tsv'
output_variants_file = '/oak/stanford/groups/akundaje/projects/neuro-variants/variant_lists/shap_variants.rare.model_inputs.hg38.tsv'

In [3]:
input_variants = pd.read_table(input_variants_file)

input_variants

,snp_id,closest_gene_1,phylop,gene_distance_1_log10,s_het_1,adult_specific,fetal_specific,abs_logfc.mean.Cluster1.corces_2020,abs_logfc.mean.fetal_brain.Excitatory_neurons.domcke_2020,excitatory_neurons_dev
0,chr3:151961157:G:C,SUCNR1,-0.446,4.942078,0.002551,False,True,0.018781,0.333610,-0.314829
1,chr16:70251961:C:T,EXOSC6,1.240,1.342423,0.008666,False,True,0.076809,0.391713,-0.314904
2,chr16:8494293:T:C,TMEM114,0.272,4.983261,0.004938,False,True,0.088102,0.344752,-0.256650
3,chr2:215498706:G:A,FN1,0.540,4.796810,0.064805,False,True,0.064994,0.312020,-0.247026
4,chr12:122969866:T:C,OGFOD2,-0.710,3.673574,0.000585,False,True,0.122528,0.481802,-0.359274
...,...,...,...,...,...,...,...,...,...,...
1612,chr20:46513668:C:T,ZNF334,0.834,2.041393,0.001201,False,True,0.101869,0.427257,-0.325388
1613,chr5:179242262:G:T,ADAMTS2,-0.279,5.013680,0.079039,False,True,0.096390,0.345886,-0.249497
1614,chr2:95302087:C:A,KCNIP3,1.980,3.677607,0.006420,True,False,0.487376,0.096543,0.390834
1615,chr11:116074085:T:G,CADM1,2.115,5.755211,0.100828,False,True,0.115695,0.356858,-0.241163
1616,chr3:126357452:G:T,KLF15,-0.133,1.653213,0.044078,False,True,0.080565,0.441149,-0.360584

In [4]:
rare_variants = pd.read_table(rare_variants_file, names=['chr_hg38', 'pos_hg38', 'ref_allele', 'alt_allele', 'snp_id'])

rare_variants

        chr_hg38   pos_hg38 ref_allele alt_allele              snp_id
0           chr1  100000434          C          T  chr1:100000434:C:T
1           chr1  100000467          A          G  chr1:100000467:A:G
2           chr1  100000954          T          A  chr1:100000954:T:A
3           chr1  100001171          G          A  chr1:100001171:G:A
4           chr1  100001173          T          C  chr1:100001173:T:C
...          ...        ...        ...        ...                 ...
9126362    chr22   50807965          T          G  chr22:50807965:T:G
9126363    chr22   50807978          A          G  chr22:50807978:A:G
9126364    chr22   50807984          A          G  chr22:50807984:A:G
9126365    chr22   50808032          A          C  chr22:50808032:A:C
9126366    chr22   50808038          A          C  chr22:50808038:A:C

[9126367 rows x 5 columns]

In [5]:
output_variants = rare_variants.loc[rare_variants['snp_id'].isin(input_variants['snp_id'])].copy()

output_variants

        chr_hg38   pos_hg38 ref_allele alt_allele              snp_id
5842        chr1  101816427          A          T  chr1:101816427:A:T
23691       chr1   10646593          A          G   chr1:10646593:A:G
30501       chr1  108559923          G          C  chr1:108559923:G:C
30641       chr1  108609660          G          A  chr1:108609660:G:A
31055       chr1  108746573          G          A  chr1:108746573:G:A
...          ...        ...        ...        ...                 ...
9100826    chr22   44201792          C          T  chr22:44201792:C:T
9106745    chr22   45831660          T          A  chr22:45831660:T:A
9106747    chr22   45831848          G          C  chr22:45831848:G:C
9122405    chr22   49827389          A          C  chr22:49827389:A:C
9126089    chr22   50733863          C          T  chr22:50733863:C:T

[1617 rows x 5 columns]

In [6]:
input_variants.loc[~input_variants['snp_id'].isin(output_variants['snp_id'])]

Empty DataFrame
Columns: [snp_id, closest_gene_1, phylop, gene_distance_1_log10, s_het_1, adult_specific, fetal_specific, abs_logfc.mean.Cluster1.corces_2020, abs_logfc.mean.fetal_brain.Excitatory_neurons.domcke_2020, excitatory_neurons_dev]
Index: []

In [7]:
common_variants = pd.read_table(common_variants_file, names=['chr_hg38', 'pos_hg38', 'ref_allele', 'alt_allele', 'snp_id'])

common_variants

        chr_hg38   pos_hg38 ref_allele alt_allele              snp_id
0           chr1  100000723          G          A  chr1:100000723:G:A
1           chr1  100003004          A          G  chr1:100003004:A:G
2           chr1   10000458          T          C   chr1:10000458:T:C
3           chr1  100005288          G          A  chr1:100005288:G:A
4           chr1  100006010          T          C  chr1:100006010:T:C
...          ...        ...        ...        ...                 ...
6565128    chr22   50807831          G          T  chr22:50807831:G:T
6565129    chr22   50807939          G          T  chr22:50807939:G:T
6565130    chr22   50808101          C          G  chr22:50808101:C:G
6565131    chr22   50808134          C          A  chr22:50808134:C:A
6565132    chr22   50808258          G          C  chr22:50808258:G:C

[6565133 rows x 5 columns]

In [8]:
overlap_variants = common_variants.loc[common_variants['snp_id'].isin(input_variants['snp_id'])].copy()

overlap_variants

Empty DataFrame
Columns: [chr_hg38, pos_hg38, ref_allele, alt_allele, snp_id]
Index: []

In [9]:
output_variants.to_csv(output_variants_file, sep='\t', header=False, index=False)